{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <caption>Seleccione una cátedra</caption>
        <tbody>
        {% for catedra in catedras %}
            <tr>
                <td><a href="{{ path('cursos_index', { 'idCatedra': catedra.id }) }}">{{ catedra.nombre }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}