<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome{% endblock %}</title>
             <link rel="stylesheet" type="text/css" href="{{ asset('bundles/framework/css/bootstrap.css')}}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body  style="font-family: 'Dosis-Book'; background-color:#870028; " >
<div class="container" >
 <div class="col-md-4"></div>
    <div class="col-md-4 " style="margin-top: 100px;"  id="form" >
          <h4 style="border-bottom: 1px solid #c5c5c5;">
            <img src="{{ asset('bundles/framework/images/encabezado.png') }}" class="img-responsive" style="margin:0 auto;width:450px;"/>
            <p style="margin: 0 auto; font-family: 'Dosis-Book'; "></p>
          </h4>
    </div>
</div>
        {% block body %}
        {% endblock body%}
        {% block javascripts %}{% endblock %}
    </body>

</html>
