{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-4"></div>
                <div class="col-md-4 " style="margin-top: 100px;"  id="form" >
                <h4 style="border-bottom: 1px solid #c5c5c5;">
                   <img src="{{ asset('bundles/framework/images/encabezado.png') }}" class="img-responsive" style="margin:0 auto;width:450px;"/>
                    <p style="margin: 0 auto; font-family: 'Dosis-Book'; "></p>
                </h4><br>
                <div class="col-sm-2"></div>
                <div class="col-sm-8"> Bienvenido!
            <a href="app_dev.php/login" >Entrar al sitio</a></div>
                <div class="col-sm-2"></div>
                
            </div>
            <div class="col-md-4"></div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
