{% extends 'base.html.twig' %}

{% block body %}

    {% if secretario == true %}
        <a class="btn btn-primary" href="{{ path('user_new') }}">Nuevo Docente</a>
     
    {% endif %}
  
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <caption>Lista de Cursos</caption>
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
        {% for curso in cursos %}
            <tr>
                <td><a href="{{ path('comisiones_index', { 'id': curso.id }) }}">{{ curso.nombre }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
