{% extends 'base.html.twig' %}

{% block body %}
    <h4>NUEVO DOCENTE</h4>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br><input class="btn btn-primary" type="submit" value="Registrar docente" />
        <a class="btn btn-primary" href="{{ asset('')}}">Cancelar</a> 
    {{ form_end(form) }}
    
        
{% endblock %}


